.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  border: whitesmoke;
  border-radius: 2;
  background-color: rgb(241,242,243);
  color: #282c34;

}
